@import "tailwindcss";
@import "tw-animate-css";
@config "../tailwind.config.js";

/* app/globals.css */
@layer base {
  body {
    @apply bg-primary font-primary text-white leading-loose;
  }
}

/* @theme inline {
  --color-primary: #1c1c22;
  --font-primary: var(--font-jetbrainsMono);
} */

/* @layer utilities {
  .font-primary {
    font-family: var(--font-jetbrainsMono);
  }
} */